{% extends "layout.html" %}

{% block container %}

<div class="container">
  <h2>Add new post</h2>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
  {% endif %}
	  <br> 
	  {% from "_formhelpers.html" import render_field %}
		<form method="post" action="{{url_for('main.add_post')}}">
		  <dl>
				{{ render_field(form.title) }}
				{{ render_field(form.rating) }}
				{{ render_field(form.description) }}
		  </dl>
		  <p><input type="submit" value="Add post">
		</form>
	</div>

{% endblock %}